<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application
        android:name=".application.ClinicFlowApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinicFlow" >
        <activity
            android:name=".presentation.authScreens.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.patientScreens.PatientScreen" />
        <activity android:name=".presentation.doctorScreens.DoctorScreen" />
        <activity android:name=".presentation.staffScreens.StaffScreen" />
        <activity android:name=".presentation.patientScreens.BookAppointment" />
        <activity android:name=".presentation.staffScreens.ManageAppointments" />
        <activity android:name=".presentation.sharedScreens.SearchUserCard" />
        <activity android:name=".presentation.staffScreens.ViewDoctors" />
        <activity android:name=".presentation.doctorScreens.SetAvailability" />
        <activity android:name=".presentation.sharedScreens.MyAppointments"/>
        <activity android:name=".presentation.sharedScreens.AppointmentDetail"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".presentation.sharedScreens.Profile"/>
        <activity android:name=".presentation.admin.UserSignUp"/>
        <activity android:name=".presentation.admin.AddOrDeleteScreen"/>
        <activity android:name=".presentation.admin.AdminScreen"/>
        <activity android:name=".presentation.patientScreens.Slots"/>
        <activity android:name=".presentation.patientScreens.ConfirmAppointment"/>
        <activity android:name=".presentation.sharedScreens.MySchedule"/>

    </application>

</manifest>