<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:name=".ClinicFlowApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinicFlow" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.PatientScreen" />
        <activity android:name=".presentation.DoctorScreen" />
        <activity android:name=".presentation.StaffScreen" />
        <activity android:name=".presentation.PatientProfile" />
        <activity android:name=".presentation.BookAppointment" />
        <activity android:name=".presentation.MyAppointments" />
        <activity android:name=".presentation.ManageAppointments" />
        <activity android:name=".presentation.DoctorProfile" />
        <activity android:name=".presentation.StaffProfile" />
        <activity android:name=".presentation.ViewPatients" />
        <activity android:name=".presentation.ViewDoctors" />
        <activity android:name=".presentation.MySchedule" />
        <activity android:name=".presentation.SetAvailability" />
        <activity android:name=".presentation.DocPatientRecords" />
        <activity android:name=".presentation.MyRecords"/>
        <activity android:name=".presentation.MedicalRecordDetail"/>
        <activity android:name=".presentation.SignupScreen"/>
    </application>

</manifest>